#/bin/bash
export ABI_PPDIR="$(pwd)/potential/nc_sr-pbe-std/"
export ESTNVCD_FIG_DIR="$(pwd)/docs/figures/"
export ESTNVCD_CALC_DIR="$(pwd)/calculations/"
module load mpi/openmpi-x86_64
PATH_add $(expand_path ./local)
PATH_add $(expand_path ./plotters)
